/* Add CSS Styling */

.odd {
    background-color:pink ;
    font-family: Verdana, "DejaVu Sans", "sans-serif";
}

#no2 {
    color:blue;
    font-size:36px;
}

#no3#no4{
    font-size:24px;
}

#no4{
    font-weight:bold;
    background-color: lightgreen;
}